@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}
:root
{
    --clr: #14161e
}
body
{
    min-height: 100vh;
    background: var(--clr);
    display: flex;
    flex-direction: row;
}
.sidebar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80px;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}
.sidebar.active
{
    width: 350px;
}
.sidebar ul
{
    position: relative;
}
.sidebar ul li
{
    position: relative;
    list-style: none;
}

.sidebar ul li.logo .icon
{
    font-size: 2em;
    color: var(--clr);
}
.sidebar ul li.logo .text
{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr);
}
.sidebar ul li a
{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
}
.sidebar ul li a .text
{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text
{
    color: var(--bg);
}
.sidebar input
{
    appearance: none;
    display: none;
}
.sidebar .icons label
{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
.sidebar .icons label .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
    padding-left: 10px;
}
.sidebar .icons label .text
{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1),
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2),
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3),
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4),
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5),
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6)
{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1) .text,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2) .text,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3) .text,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4) .text,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5) .text,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6) .text
{
    color: var(--bg);
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1) .icon,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2) .icon,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3) .icon,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4) .icon,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5) .icon,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6) .icon
{
    color: #fff;
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1) .icon::before,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2) .icon::before,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3) .icon::before,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4) .icon::before,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5) .icon::before,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6) .icon::before
{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1)::before,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2)::before,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3)::before,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4)::before,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5)::before,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6)::before
{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1)::after,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2)::after,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3)::after,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4)::after,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5)::after,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6)::after
{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--clr);
    background: transparent;
}
.sidebar .icons label:hover .text,
.sidebar .icons label:hover .icon
{
    color: var(--bg);
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1):hover .icon,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2):hover .icon,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3):hover .icon,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4):hover .icon,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5):hover .icon,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6):hover .icon
{
    color: var(--bg);
}
.sidebar input:nth-child(1):checked ~ .icons label:nth-child(1):hover .icon::before,
.sidebar input:nth-child(2):checked ~ .icons label:nth-child(2):hover .icon::before,
.sidebar input:nth-child(3):checked ~ .icons label:nth-child(3):hover .icon::before,
.sidebar input:nth-child(4):checked ~ .icons label:nth-child(4):hover .icon::before,
.sidebar input:nth-child(5):checked ~ .icons label:nth-child(5):hover .icon::before,
.sidebar input:nth-child(6):checked ~ .icons label:nth-child(6):hover .icon::before
{
    background: #fff;
}

.imgBx
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content
{
    position: absolute;
    top: 0;
    left: 83px;
    width: var(--normal);
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    border-radius: 10px;
    margin-right: 10px;
}

.content.active
{
    left: 353px;
    width: var(--activo);
}
.content .contentBx
{
    position: absolute;
    inset: 0;
    padding: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 2em;
}
.sidebar input:nth-child(1):checked ~  .content .contentBx:nth-child(1),
.sidebar input:nth-child(2):checked ~  .content .contentBx:nth-child(2),
.sidebar input:nth-child(3):checked ~  .content .contentBx:nth-child(3),
.sidebar input:nth-child(4):checked ~  .content .contentBx:nth-child(4),
.sidebar input:nth-child(5):checked ~  .content .contentBx:nth-child(5),
.sidebar input:nth-child(6):checked ~  .content .contentBx:nth-child(6)
{
    visibility: visible;
    opacity: 1;
}

.content .contentBx h2
{
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 15px;
}
.content .contentBx p
{
    font-size: 1.1em;
    margin-bottom: 15px;
}
/*Inicio*/
.content .contentBx.Inicio
{
    overflow: auto;
}
.content .contentBx.Inicio::-webkit-scrollbar
{
    width: 6px;
}
.content .contentBx.Inicio::-webkit-scrollbar-thumb
{
    background: #e74c3c;
    border-radius: 25px;
}
.content .contentBx.Inicio .container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.content .contentBx.Inicio .container .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 90px rgba(0, 0, 0,0.15);
    transition: 0.5s;
}
.content .contentBx.Inicio .container .card:hover
{
    height: 350px;
}
.content .contentBx.Inicio .container .card .imgBx
{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    overflow: hidden;
    background: #333;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 0 15px 45px rgba(0, 0, 0,0.2);
}
.content .contentBx.Inicio .container .card:hover .imgBx
{
    top: -100px;
    scale: 0.75;
}
.content .contentBx.Inicio .container .card:hover .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .contentBx.Inicio .container .card .info
{
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.content .contentBx.Inicio .container .card:hover .info
{
    top: 130px;
    height: 250px;
}
.content .contentBx.Inicio .container .card .info h2
{
    font-weight: 500;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #e74c3c;
    margin-bottom: 1em;
}
.content .contentBx.Inicio .container .card .info h3
{
    font-size: 1.2em;
    margin-bottom: 1em;
}
.content .contentBx.Inicio .container .card .info p
{
    font-size: 1em;
}

/*Notas*/
.content .contentBx.Notas
{
    overflow: scroll;
}
.content .contentBx.Notas::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
.content .contentBx.Notas::-webkit-scrollbar-thumb
{
    background: #e74c3c;
    border-radius: 25px;
}
.content .contentBx.Notas .Opciones
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1em;
}
.content .contentBx.Notas .Opciones p
{
    margin: 5px;
}
.content .contentBx.Notas .Opciones select
{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border: 1.9px solid lightgray;
    border-radius: 10px;
    color: #39325A;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: #fff;
    text-align: center;
}
.content .contentBx.Notas .Opciones select option
{
    background: #fff;
}
.content .contentBx.Notas table
{
    margin-top: 25px;
    width:max-content;
}
.content .contentBx.Notas table tr.NombreInstitucion
{
    text-transform: uppercase;
    font-size: 2em;
}
.content .contentBx.Notas table tr.NombreInstitucion th
{
    outline: 2px solid #e74c3c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #e74c3c;
}
.content .contentBx.Notas table tr.InformacionNotas
{
    text-transform: uppercase;
    font-size: 0.9em;
}
.content .contentBx.Notas table tr.InformacionNotas th
{
    outline: 2px solid #e74c3c;
}
.content .contentBx.Notas table tr.InformacionNotas th .contenedorInfo
{
    display: flex;
    justify-content:space-around;
}
.content .contentBx.Notas table tr.InformacionNotas th .contenedorInfo .InformacionDocente
{
    display: flex;
    align-items: center;
}
.content .contentBx.Notas table tr.InformacionNotas th .contenedorInfo .InformacionDocente p
{
    justify-content: center;
    margin: 5px;
}
.content .contentBx.Notas table tr.InformacionTareas
{
    text-transform: uppercase;
}
.content .contentBx.Notas table tr.InformacionTareas th.TareaFecha
{
    width: 350px;
    height: 75px;
    outline: 2px solid #e74c3c;
    font-size: 13px;
}
.content .contentBx.Notas table tr.InformacionTareas th:not(.TareaFecha)
{
    width: 125px;
    outline: 2px solid #e74c3c;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.content .contentBx.Notas table tr.InformacionTareas th:not(.TareaFecha) p
{
    margin: 0;
    font-size: 12px;
}
.content .contentBx.Notas table tr.estudiantes
{
    outline: 2px solid #e74c3c;
}
.content .contentBx.Notas table tr.estudiantes th.NombreEstudiante
{
    text-transform: uppercase;
    background: rgb(240, 240, 240);
}
.content .contentBx.Notas table tr.estudiantes:hover th.NombreEstudiante
{
    position: fixed;
    background: #e74c3c;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid #000000;
    width: 350px;
}
.content .contentBx.Notas table tr.estudiantes th:not(.NombreEstudiante)
{
    outline: 2px solid #e74c3c;
}
.content .contentBx.Notas table tr.Final
{
    height: 25px;
}
.content .contentBx.Notas table tr.Final th
{
    outline: 2px solid #e74c3c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.menuToggle
{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    min-height: 50px;
    background: #31a4ff;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}
.menuToggle::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}
.menuToggle.active::before
{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}
.menuToggle.active::after
{
    transform: translateY(0px) rotate(-45deg);
}
@media screen and (max-width: 768px) {
    .sidebar
    {
        width: 0;
        padding: 0;
        transition: 0.5s;
    }
    .sidebar input
    {
        display: none;
        transition: 0.5s;
    }
    .sidebar ul
    {
        display: none;
        transition: 0.5s;
    }
    .sidebar .icons
    {
        display: none;
        transition: 0.5s;
    }
    .sidebar.active
    {
        width: 350px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        transition: 0.5s;
    }
    .sidebar.active ul
    {
        position: relative;
        display: flex;
        transition: 0.5s;
    }
    .sidebar.active .icons
    {
        display: contents;
        transition: 0.5s;
        width: 545px;
    }
    .sidebar .content
    {
        left: 0;
        transition: 0.5s;
        z-index: -1;
        width: var(--normal);
    }
    .sidebar.active input:nth-child(1):checked ~ .icons label:nth-child(1)::before,
    .sidebar.active input:nth-child(2):checked ~ .icons label:nth-child(2)::before,
    .sidebar.active input:nth-child(3):checked ~ .icons label:nth-child(3)::before,
    .sidebar.active input:nth-child(4):checked ~ .icons label:nth-child(4)::before,
    .sidebar.active input:nth-child(5):checked ~ .icons label:nth-child(5)::before,
    .sidebar.active input:nth-child(6):checked ~ .icons label:nth-child(6)::before
    {
        display: none;
    }
    .sidebar.active input:nth-child(1):checked ~ .icons label:nth-child(1)::after,
    .sidebar.active input:nth-child(2):checked ~ .icons label:nth-child(2)::after,
    .sidebar.active input:nth-child(3):checked ~ .icons label:nth-child(3)::after,
    .sidebar.active input:nth-child(4):checked ~ .icons label:nth-child(4)::after,
    .sidebar.active input:nth-child(5):checked ~ .icons label:nth-child(5)::after,
    .sidebar.active input:nth-child(6):checked ~ .icons label:nth-child(6)::after
    {
        display: none;
    }
    .menuToggle
    {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .menuToggle.active
    {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}