
table
{
    margin-top: 25px;
    min-width: max-content;
    border-collapse: separate;
    overflow: auto;
}
table tr.NombreInstitucion
{
    text-transform: uppercase;
}
table tr.NombreInstitucion th
{
    outline: 2px solid #e74c3c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
table tr.NombreInstitucion th h3
{
  margin: 0;
  font-size: 2em;
}
table tr.InformacionNotas
{
    text-transform: uppercase;
    font-size: 0.9em;
}
table tr.InformacionNotas th
{
    outline: 2px solid #e74c3c;
}
table tr.InformacionNotas th .contenedorInfo
{
    display: flex;
    justify-content:space-around;
}
table tr.InformacionNotas th .contenedorInfo .InformacionDocente
{
    display: flex;
    align-items: center;
}
table tr.InformacionNotas th .contenedorInfo .InformacionDocente p
{
    justify-content: center;
    margin: 5px;
}
table tr.InformacionTareas
{
    text-transform: uppercase;
}
table tr.InformacionTareas th.TareaFecha
{
    width: 350px;
    height: 125px;
    outline: 2px solid #e74c3c;
}
table tr.InformacionTareas th:not(.TareaFecha)
{
    width: 125px;
    outline: 2px solid #e74c3c;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
table tr.InformacionTareas th:not(.TareaFecha) p
{
    margin: 0;
    font-size: 14px;
}
table tr.estudiantes
{
    outline: 2px solid #e74c3c;
}
table tr.estudiantes th.NombreEstudiante
{
    text-transform: uppercase;
}
table tr.estudiantes:hover th.NombreEstudiante
{
    position: fixed;
    background: #e74c3c;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid #000000;
}
table tr.estudiantes th:not(.NombreEstudiante)
{
    outline: 2px solid #e74c3c;
}
table tr.Final
{
    height: 25px;
}
table tr.Final th
{
    outline: 2px solid #e74c3c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}